body {
    background-color: WhiteSmoke;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 850px;
}
.left {
    position:absolute;
    left:0; top:850px; bottom: 0;
    width: 100px;
}
.main {
    position: absolute;
    left:100px; top:850px; right:0; bottom:0;
}
