body {
    background-color: WhiteSmoke;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 450px;
}
.left {
    position:absolute;
    left:0; top:450px; bottom: 0;
    width: 170px;
}
.main {
    position: absolute;
    left:170px; top:450px; right:0; bottom:0;
}
