body {
    background-color: WhiteSmoke;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 500px;
}
.left {
    position:absolute;
    left:0; top:500px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:500px; right:0; bottom:0;
}
