body {
    background-color: WhiteSmoke;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 650px;
}
.left {
    position:absolute;
    left:0; top:650px; bottom: 0;
    width: 10px;
}
.main {
    position: absolute;
    left:10px; top:650px; right:0; bottom:0;
}
