body {
    background-color: WhiteSmoke;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 360px;
}
.left {
    position:absolute;
    left:200px; top:360px; bottom: 0;
    width: 200px;
}
.main {
    position: absolute;
    left:200px; top:360px; right:0; bottom:0;
}
